{% extends "layout.html" %}

{% block body %}
<div class="container-fluid mt-5 pt-5 pb-5 bg-success">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="display-5 text-warning">Create a New Account</h2>
            <h4 class="text-secondary">It's quick and easy.</h4>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-sm-5 col-md-4">
            <form action="{{ url_for('new_user') }}" method="post">
                <div class="form-group text-center">
                    <input class= "form-control" type="text" name="name" placeholder="Enter your Name">
                    <br>
                    <input class= "form-control" type="text" name="username" placeholder="Username">
                    <br>
                    <input class= "form-control" type="password" name="password" placeholder="Password">
                    <br>
        
                    {% if error_msg %}
                        <footer class="alert alert-danger">{{ error_msg }}</footer>
                    {% endif %}
                    <button class="btn btn-primary btn-block">Sign Up</button>
                    <hr>
                    <a href="{{ url_for('index') }}" class="text-warning"> Already have an account? Log In </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}